<app-remote-data [remoteData]="games$ | async">
  <ng-template #loading>
    <p><em>Loading...</em></p>
  </ng-template>

  <ng-template #loaded let-games>
    <ng-container *ngIf="asGames(games) as games">
      <ul *ngIf="games.length !== 0">
        <li *ngFor="let game of games">
          Game by {{ game.playerName }} created on
          {{
            DateTime.fromISO(game.createdAt).toLocaleString(
              DateTime.DATETIME_FULL
            )
          }}
        </li>
      </ul>

      <p *ngIf="games.length === 0">
        <em>No one has played yet.</em>
      </p></ng-container
    >
  </ng-template>
</app-remote-data>

<button type="button" (click)="createGame()">Start game</button>
