<ng-container *ngIf="remoteData">
  <ng-content
    *ngIf="remoteData.state === RemoteDataState.Loading"
    select="[loading]"
  ></ng-content>

  <ng-container *ngIf="remoteData.state === RemoteDataState.Loading">
    <ng-container *ngTemplateOutlet="loadingTemplate"> </ng-container>
  </ng-container>

  <ng-container *ngIf="remoteData.state === RemoteDataState.Loaded">
    <ng-container
      *ngTemplateOutlet="
        loadedTemplate;
        context: { $implicit: remoteData.data }
      "
    >
    </ng-container>
  </ng-container>
</ng-container>
