<table class="table table-zebra w-full">
  <caption class="mb-5 text-left text-2xl font-bold">
    Previous games
  </caption>
  <thead>
    <tr>
      <th>Player</th>
      <th>Date</th>
      <th>Outcome</th>
      <th>Moves</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="state === State.Loading">
      <td colspan="1000">
        <div class="flex font-sm text-info">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 animate-spin"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"
            />
          </svg>
          <em class="ml-2">Loading...</em>
        </div>
      </td>
    </tr>
    <tr *ngIf="state === State.Error">
      <td colspan="1000" class="bg-error text-error-content">
        <div class="flex">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"
            />
          </svg>
          <em class="ml-2">The list of games could not be loaded.</em>
        </div>
      </td>
    </tr>
    <tr *ngFor="let game of games">
      <td>{{ game.playerName }}</td>
      <td>
        {{
          DateTime.fromISO(game.createdAt).toLocaleString(
            DateTime.DATETIME_FULL
          )
        }}
      </td>
      <td>
        <em *ngIf="game.state === GameState.Ongoing" class="text-warning">
          Ongoing
        </em>
        <span *ngIf="game.state === GameState.Win" class="text-success">
          Win
        </span>
        <span *ngIf="game.state === GameState.Loss" class="text-error">
          Loss
        </span>
      </td>
      <td>{{ game.moves.length }}/{{ game.maxMoves }}</td>
    </tr>
  </tbody>
</table>
