<div
  class="card shadow-xl cursor-pointer text-success-content hover:bg-accent-focus hover:text-accent-content"
  [ngClass]="cardClass"
  (click)="startGame()"
>
  <div class="card-body">
    <h2 class="card-title">
      <div class="flex flex-col">
        {{ title }}
        <small class="text-sm font-normal">
          {{ boardWidth }}x{{ boardHeight }} board,
          {{ ' ' }}
          {{ maxMoves }} moves
        </small>
      </div>
    </h2>
    <p>{{ description }}</p>
  </div>

  <div class="flex justify-center px-3 pb-3 lg:px-10 lg:pb-10">
    <div class="w-full border-2 border-gray-900">
      <app-game-board
        *ngIf="board"
        [board]="board"
        [palette]="palette"
      ></app-game-board>
    </div>
  </div>
</div>
